@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #91b3d5

::selection
	background-color: $accent
	color: #fff

*
	outline: none !important
	margin: 0
	padding: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.333
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.text-right
	text-align: right

b, strong
	font-weight: bold

img
	max-width: 100%
	height: auto

.td-lt
	text-decoration: line-through

.section_intro
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	height: 750px
	display: flex
	.container
		margin-top: auto
		margin-bottom: auto

.section.section_h-570
	height: 570px
	

.section_delivery-banner
	background-repeat: no-repeat
	background-position: center
	.container-inner
		padding-right: 320px

.section_delivery-intro
	height: 450px
	background-color: #004587
	position: relative
	display: flex
	.container
		margin: auto
		position: relative
		z-index: 2
		display: none
	&:before
		content: ''
		display: block
		height: 100%
		width: 2000px
		position: absolute
		left: 50%
		margin-left: -2000px
		top: 0
		background-image: url(../img/bg-x.jpg)
		background-repeat: repeat-x
	&:after
		width: 100%
		content: ''
		height: 100%
		position: absolute
		top: 0
		left: 0
		display: block
		background-image: url(../img/bg-d.jpg)
		background-repeat: no-repeat
		background-position: center
	.heading_xs
		sup
			color: #000
.section_capture
	.heading
		a
			color: #fff

	p
		max-width: 460px
		font-size: 16px
		line-height: 30px

.footer
	padding-top: 45px
	padding-bottom: 35px
	.copy
		margin-top: 80px
		color: #888888
		font-size: 16px

	.soc-block
		margin-top: 47px

@import "media" // Always at the end
